body{
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background: rgba(0, 0, 0, .7);
}

a{
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    padding: 20px 25px;
}
a:hover,a:active{
    background: #f1f1f1;
    color: rgba(0, 0, 0, .7);
}

.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

section{
    flex: 30%;
    background: #eee;
    padding: 20px;
    box-sizing: border-box;
}

main{
    flex: 70%;
    padding: 20px;
    box-sizing: border-box;
    
}